<% content_for(:header_links) do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>

<ul id="lists">
  <% @lists.each do |list| %>
    <% if all_complete?(list) && !empty_list?(list) %>
      <li class="complete">
    <% else %>
      <li>
    <% end %>
      <a href="/lists/<%= list[:id] %>">
        <h2><%= list[:name] %></h2>
        <p><%= total_incomplete_todos(list) %> / <%= total_todos(list) %></p>
      </a>
    </li>
  <% end %>
</ul>


